# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Dependency directories
node_modules/

# Build output
dist

# dotenv environment variable files
.env
.env.*
!.env.example

# Vite cache
.cache
.vite

